<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xlt.mapper.PermissionMapper">
    <resultMap id="ResultMap" type="com.xlt.model.po.PermissionPo">
        <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
        <result column="api_operation" jdbcType="VARCHAR" property="apiOperation" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="http_method" jdbcType="VARCHAR" property="httpMethod" />
        <result column="method_name" jdbcType="VARCHAR" property="methodName" />
        <result column="tenant" jdbcType="VARCHAR" property="tenant" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
        <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    </resultMap>

    <insert id="batchInsert">
        <if test="list!=null and list.size()>0">
            insert into permission_t (
            api_operation,
            path,
            http_method,
            method_name,
            tenant,
            create_by,
            creation_date,
            last_update_by,
            last_update_date) values
            <foreach collection="list" index="index" item="item" separator=",">
                (
                #{item.apiOperation},
                #{item.path},
                #{item.httpMethod},
                #{item.methodName},
                #{item.tenant},
                #{item.createBy},
                #{item.creationDate},
                #{item.lastUpdateBy},
                #{item.lastUpdateDate}
                )
            </foreach>
            ON DUPLICATE KEY UPDATE
            api_operation = VALUES(api_operation),
            method_name = VALUES(method_name),
            tenant = VALUES(tenant),
            last_update_by = VALUES(last_update_by),
            last_update_date = VALUES(last_update_date)
        </if>
    </insert>


</mapper>